//.root {
//    position: absolute;
//    cursor: default;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//
//    &._selected {
//        cursor: move;
//
//        .resizeDotsContainer,
//        .styler {
//            display: block;
//        }
//    }
//}

.image {
    border: none;
    outline: none;
    resize: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

.styler {
    display: none;
    position: absolute;
    top: -50px;
    left: 0;
}

.stylerVisible {
    display: block;
}

._cover {
    .image {
        object-fit: cover;
        width: unset;
        height: unset;
    }
}
