// .textarea {
//     border: none;
//     outline: none;
//     resize: none;
//     position: relative;
//     background-color: transparent;
//     overflow: hidden;
//     padding: 2px;
//     font-size: 16px;
// }

.textField {
    width: calc(100% - 7px);
    height: calc(100% - 7px);

    :global(.ql-toolbar) {
        background-color: white;
        position: absolute;
        top: -74px;
        height: 60px;
        width: 420px;
        background-color: white;
        display: none;
    }

    :global(.ql-editor) {
        cursor: text;

        strong {
            font-weight: 600;
        }

        em {
            font-style: italic;
        }
    }

    :global(.ql-container) {
        border: none;
    }

    &._toolbarBottom {
        :global(.ql-toolbar) {
            top: unset;
            bottom: -74px;
        }
    }

    &.textFieldSelected {
        :global(.ql-toolbar) {
            display: block;
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 100%;
}