.root {
    position: absolute;
    left: 200px;
    height: auto;
    width: 240px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 8px;
    z-index: 100;
}

.option {
    margin: 4px 0;
    cursor: pointer;
}

.option:hover {
    background-color: aqua;
}