@import "./assets/normalize.scss";

:root {
    // sizes
    --header-height: 40px;
    --sub-header-height: 40px;

    // colors
    --common-background: #eee;
    --slide-background: #fff;
    --slide-border: #333;
}

p {
    height: min-content;
}