.root {
    display: flex;
    padding: .5rem;
    border: .1rem solid var(--slide-border);
    border-radius: 5px;
    background: var(--slide-background);
}

.big {
    height: 90%;
    width: 90%;
}

.small {
    height: 100px;
    width: 100%;
}

.settings {
    position: relative;
    top: 75%;
    left: 65%;
    height: 6px;
    cursor: pointer;
}

.page {
    position: relative;
    top: 95%;
}

.paranja {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
}