.root {
    position: relative;
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
}

.big {
    width: 80%;
    aspect-ratio: 500/270;
    margin: 10px 0;
}

.small {
    height: 100px;
    width: 100%;
}

// remove later
.id {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.settings {
    position: absolute;
    top: 75%;
    left: 65%;
    height: 6px;
    cursor: pointer;
}

.page {
    position: absolute;
    bottom: 3%;
    left: 3%;
}

.paranja {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
}
