.root {
    display: flex;
    padding: 0.5rem;
    border: 0.1rem solid var(--slide-border);
    border-radius: 5px;
    background: var(--slide-background);
    position: relative;
}

.big {
    width: 80%;
    aspect-ratio: 500/270;
}

.small {
    height: 100px;
    width: 100%;
}

.settings {
    position: relative;
    top: 75%;
    left: 65%;
    height: 6px;
    cursor: pointer;
}

.page {
    position: absolute;
    bottom: 3%;
    left: 3%;
}
